@media only screen and (min-width: 768px) {

.add-to-cart {
    background-color: antiquewhite;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: 1px solid #000;
    margin-top: 0.5em;
}

.product-title-search-container {
    position: relative;
}

.add-to-cart:hover {
    background-color: rgba(45, 45, 236, 0.884);
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}

.product-search-cart {
    color: #000;
    position: absolute;
    border: 1px solid #000;
    width: 30%;
    right: 6%;
    top: 0;
    border-radius: 0.5em;
    text-indent: 1em;
}

.product-items {
    margin-top: 4em;
    display: inline-block;
    margin-left: 5%;
    width: 20%;
    margin-bottom: 4em;
}

#product-cart-img {
    width: 70%;
    height: 70%;
}

.product-cart-info {
    text-align: center;
    width: 50%;
    margin-top: 2em;
    text-transform: capitalize;
    line-height: 2em;
}

.product-cart-repo {
    font-weight: 500;
    font-size: 75%;
}

.product-title {
    padding-left: 1em;
    margin-left: 1em;
    letter-spacing: 0.06em;
    border-bottom: 1px solid #000;
    width: 92%;
    text-transform: uppercase;
    margin-top: 4em;
    padding-bottom: 0.4em;
}
    
}

@media only screen and (max-width: 768px) {

    .add-to-cart {
        background-color: antiquewhite;
        padding: 0.5em 1em;
        border-radius: 1em;
        border: 1px solid #000;
    }
    
    .add-to-cart:hover {
        background-color: rgba(45, 45, 236, 0.884);
        color: #fff;
        transition: all 0.5s;
        cursor: pointer;
    }

    .product-cart-repo {
        font-weight: 500;
        font-size: 75%;
    }

    .product-title-search-container {
        position: relative;
    }

    .product-search-cart {
        color: #000;
        position: absolute;
        border: 0.5px solid #000;
        width: 40%;
        right: 7%;
        top: -20%;
        border-radius: 0.5em;
        text-indent: 1em;
        font-size: 80%;
    }
    
    .product-items {
        display: flex;
        margin-top: 2em;
        width: 90%;
        margin-bottom: 4em;
        margin-left: 4%;
    }
    
    #product-cart-img {
        width: 300px;
        height: 300px;
    }
    
    .product-cart-info {
        text-align: center;
        width: 50%;
        margin-top: 4em;
        text-transform: capitalize;
        line-height: 2em;
    }
    
    .product-title {
        padding-left: 0.4em;
        margin-left: 0.4em;
        letter-spacing: 0.06em;
        border-bottom: 1px solid #000;
        width: 92%;
        text-transform: uppercase;
        margin-top: 4em;
        padding-bottom: 0.4em;
        font-size: 140%;
    }
        
    }
